h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #242524;
  color: #fff;
  padding: 25px;
  margin: 0;
}

nav {
  background-color: #7a2d2d;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

main {
  margin-left: 350px;
  margin-right: 350px;
}

.contact {
  padding: 100px;
}

.button {
  padding: 20px;
  color: #fff;
  background-color: #000;
}

footer {
  background-color: rgb(157, 155, 155);
  padding: 25px;
  margin: 0;
}
